<div class='row'>
    <div>
        <img id='img2' src="/website/assets/img/2.jpg">
    </div>
    <div class="col">
        <p id="text-3">
            <strong class="one-1">
                Lorem Ipsum
            </strong>
            <strong class="two-2">
                is simply dummy text of the printing and typesetting
            </strong>
            Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book.Second example: instead of adding a number to each col, let bootstrap handle the layout,
            to create equal width columns: two "col" elements = 50% width to each col, while three cols = 33.33% width
            to each col. Four cols = 25% width, etc. You can also use .col-sm|md|lg|xl|xxl to make the columns
            responsive.
        </p>
    </div>
</div>