<div class="container-fluid">
    <div class="row">
        <div class="col-12 pb-4 ps-0 pe-0">
            <div class="bg-dark text-black">
                <img height="695" src="https://user-images.githubusercontent.com/101682924/162891897-db96d37c-e624-41a6-b4c9-4248bc1176fc.jpg">
                <div class="card-img-overlay pt-5 " style="width: 100%;">
                    <p class="card-title1 fw-bold bg-light d-flex align-items-center justify-content-center" >
                        One Page Wonder
                    </p>
                    <p class="card-text fs-1 fw-bold bd-white bg-light d-flex align-items-center justify-content-center ">
                        Will Knock Your Socks Off 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>